<div class="content">
    <div class="container">
        <div class="title">
            <h1 class="title-main">Pet Check-up</h1>
            <h3 class="title-description">Please select from the options below</h3>
        </div>
    
        <div class="appointment-container" *ngFor="let appointment of appointments">
            <a [routerLink]="['/appointment', appointment.name, appointment.description]">
                <button class="appointment-button" id="bath-brush" type="button">
                    <div class="button-text">
                        <h2 class="appointment-title">{{ appointment.name }}</h2>
                        <h3 class="appointment-description">{{ appointment.description }}</h3>
                    </div>
                    <div class="button-icon">
                        <img src="assets/images/next.svg" alt="Next" />
                    </div>
                </button>
            </a>
        </div>
    </div>
</div>