<div class="verify">
    <div class="approve">
        <div class="left">
            <img src="assets/images/koala.png" alt="">
        </div>
    
        <div class="right">
            <h1 class="approve-title">Appointment Approved!</h1>
            <h3 class="approve-notify">When your schedule approaches, you will be notified.</h3>
            <h3 class="approve-notify">Please arrive <span>15 minutes</span> before your scheduled time.</h3>
            <h4 class="approve-agree">We have the rights to remove late or “no show” appointments.</h4>
        </div>
    </div> 
</div>

<div class="content">
    <div class="container">
        <div class="reference">
            <div class="left">
                <h3 class="reference-title">Reference Number</h3>
                <h1 class="reference-number">{{ referenceNumber }}</h1>
            </div>
            <div class="right">
                <h3 class="reference-title">Appointment Status</h3>
                <h1 class="reference-status">Upcoming</h1>
            </div>
        </div>

        <hr class="dashed" />

        <div class="selected-service">
            <h3 class="title">Selected Service</h3>
            <h1 class="service">Pet Check-up - {{ appointmentName }}</h1>
        </div>
          
        <div class="selected-date">
            <h3 class="title">Selected Date & Time</h3>
            <h1 class="service">{{ selectedDate }} - {{ selectedTimeslot }}</h1>
        </div>

        <hr class="dashed" />

        <h3 class="caption">PERSONAL DETAILS</h3>

        <h3 class="container-title">Name</h3>
        <h1 class="container-value">{{ name }}</h1>

        <h3 class="container-title">Mobile Number</h3>
        <h1 class="container-value">{{ mobile }}</h1>

        <h3 class="container-title">Email</h3>
        <h1 class="container-value">{{ email }}</h1>

        <hr class="dashed" *ngIf="remarks"/>

        <h3 class="container-title" *ngIf="remarks">Remarks</h3>
        <h1 class="container-value" *ngIf="remarks">{{ remarks }}</h1>
    </div>
</div>

<a routerLink="/">
    <h1 class="home-btn">Back toHome</h1>
</a>