<div class="content">
    <div class="container">
      <div class="title">
        <h1 class="title-main">Book Appointment</h1>
        <h3 class="title-description">Please select a service where you want to book an appointment</h3>
      </div>
  
      <div class="appointment-container">
        <a routerLink="/services-type">
          <button class="appointment-button" id="pet-checkup" type="button">
            <div class="button-text">
              <h2 class="appointment-title">Pet Check-up</h2>
              <h3 class="appointment-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada vitae vitae sem tortor.</h3>
            </div>
            <div class="button-icon">
              <img src="assets/images/next.svg" alt="Next" />
            </div>
          </button>
        </a>
      </div>
  
      <div class="appointment-container">
        <button class="appointment-button" id="bath-grooming" type="button">
          <div class="button-text">
            <h2 class="appointment-title">Bath & Grooming</h2>
            <h3 class="appointment-description">Our grooming services are available a la carte or bundle to get your pets looking their best.</h3>
          </div>
          <div class="button-icon">
            <img src="assets/images/next.svg" alt="Next" />
          </div>
        </button>
      </div>
  
      <div class="appointment-container">
        <button class="appointment-button" id="hotel-lodging" type="button">
          <div class="button-text">
            <h2 class="appointment-title">Pet Hotel / Lodging</h2>
            <h3 class="appointment-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada vitae vitae sem tortor.</h3>
          </div>
          <div class="button-icon">
            <img src="assets/images/next.svg" alt="Next" />
          </div>
        </button>
      </div>
    </div>
</div>