<div class="content">
    <div class="container">
        <div class="back-icon">
            <a routerLink="/appointment">
                <img src="assets/images/back-arrow.svg" alt="back" />
                <h3 class="back-title">Back</h3>
            </a>
        </div>

        <div class="content-title">
            <h1 class="main-title">Enter your details</h1>
            <h3 class="description-title">Please check your entries. Proceed if all details are correct</h3>
        </div>

        <div class="selected-service">
            <h3 class="title">Selected Service</h3>
            <h1 class="service">Pet Check-up - {{ appointmentName }}</h1>
        </div>
          
        <div class="selected-date">
            <h3 class="title">Selected Date & Time</h3>
            <h1 class="service">{{ selectedDate }} - {{ selectedTimeslot }}</h1>
        </div>

        <h3 class="caption">ENTER PERSONAL DETAILS</h3>
        <form class="info-form">
            <input [(ngModel)]="name" type="text" name="name" placeholder="Name" class="info-details" required />
            <input [(ngModel)]="mobile" type="text" name="mobile" placeholder="Mobile Number" class="info-details" required />
            <input [(ngModel)]="email" type="text" name="email" placeholder="Email (Optional)" class="info-details" />
            <textarea [(ngModel)]="remarks" class="info-textarea" name="comments" rows="4" cols="50" placeholder="Comments / Remarks (Optional)"></textarea>
            <div class="submit-button">
                <button [disabled]="!isFormValid()" (click)="proceedToSummary()" type="button" class="proceed-btn">
                    {{ !isFormValid() ? 'Fill out the fields above to proceed' : 'Proceed' }}
                </button>
            </div>
          </form>
    </div>
</div>